@media screen and (min-width: 500px){


    
    header {
        background-color: black;
        color: white;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
}
/* does {} go at the end or before my other css */