@media only screen and (min-width:32em){
body {
   
    
    margin: 0 100px 0 100px;
}
nav{

    display: flex;   
    justify-content: flex-end;
    max-width: 100%;
}
nav a{
flex:   100%;
}
  
    .parent{ 
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        column-gap: 10px;
    }
    .card{
        box-shadow: 1px 1px 10px var(--blueGray);
    }

}